.wrapper {
	padding: 0 20px 20px 20px;
	max-width: 1170px;
	margin: 0 auto;
	margin-top: 90px;
	margin-bottom: 100px;
	font-family: 'Montserrat', sans-serif;
}
.order__title h1 {
	text-transform: uppercase;
	color: #000000;
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
}
.order__container h2 {
	margin: 0;
	margin-top: 50px;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}
.order__container ul, .order__container ol {
	padding: 0;
	padding-left: 17px;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
	margin-top: 20px;
	margin-bottom: 0;
}
.order__container ol {
	margin: 0;
	padding-left: 20px;
}
.order__container ul li::marker {
	font-size: 10px;
}
.order__container img {
	display: block;
	max-width: 100%;
	height: auto;
	margin-top: 30px;
}
.order__container-image {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.order__container-image img {
	display: inline-block;
}
@media (max-width: 1400px) {
	.wrapper {
		padding: 0 20px 20px 20px;
	}
	.order__title h1 {
		font-size: 24px;
		line-height: 35px;
	}
}
@media (max-width: 1100px) {
	.wrapper {
		padding: 0 10px 20px 10px;
		margin-top: 60px;
		margin-bottom: 80px;
	}
	.order__container h2 {
		margin-top: 40px;
	}
}
@media (max-width: 768px) {
	.wrapper {
		margin-top: 50px;
		margin-bottom: 60px;
	}
	.order__title h1 {
		font-size: 22px;
		line-height: 25px;
	}
	.order__container h2 {
		margin-top: 20px;
		font-size: 20px;
	}
	.order__container ul, .order__container ol {
		font-size: 16px;
		margin-top: 10px;
	 }
	 .order__container ol {
		margin: 0;
	 }
}